body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/**********HEADER**********/

.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-studio {
  color: #2e2f42;
}

.nav-list {
  list-style: none;
}

.nav-list_link {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: #2e2f42;
}

.nav-list_link:hover,
.nav-list_link:focus {
  color: #404bbf;
}

.header-call {
  font-style: normal;
}

.address-info_link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-info_link:hover,
.address-info_link:focus {
  color: #404bbf;
}

/**********MAIN**********/

.main-hero {
  background-color: #2e2f42;
}

.main-hero_text {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.main-hero_btn {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.main-hero_btn:hover,
.main-hero_btn:focus {
  background-color: #404bbf;
}

.info-main_par {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.info-main_text {
  color: #434455;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/**********Section3-OurTeam**********/

.team {
  background-color: #f4f4fd;
}

.team-title {
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-main_link {
  background-color: #fff;
}

.team-main_title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.team-main_text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/**********Section4-Portfolio**********/

.portfolio-title {
  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.portfolio-main_title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.portfolio-main_text {
  color: #434455;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/**********FOOTER**********/

.footer-main {
  background-color: #2e2f42;
}

.footer-logo_studio {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}
